* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "cinzel", serif;
}

.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 9;
  transition: 0.5s;
}

.links-container {
  display: flex;
  align-self: center;
  list-style: none;
}

.link-item {
  margin: 10px;
}

.link {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  opacity: 0.7;
  transition: 0.5s;
  font-weight: bold;
}

.link.active,
.link:hover {
  opacity: 1;
}

.user-interactions {
  display: flex;
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
}

.cart,
.user {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.cart-icon {
  transform: scaleX(-1);
  color: rgb(48, 45, 45);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.cart-icon:hover,
.user-icon:hover {
  opacity: 1;
}

.cart-item-count {
  font-family: "lato", sans-serif;
  color: rgb(48, 45, 45);
  padding: 5px;
  font-size: 8px;
  border-radius: 50%;
  background: rgb(208, 208, 203);
  position: absolute;
  top: 5px;
  left: -1px;
}
.user-icon {
  color: rgb(48, 45, 45);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.header-section {
  width: 100%;
  height: 100vh;
  background: url(/img/header.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-heading {
  font-size: 100px;
  text-transform: capitalize;
  color: rgb(93, 89, 89);
}

.header-heading span {
  color: rgb(63, 89, 89);
}

.best-selling-product-section {
  position: relative;
  padding: 60px 5%;
}

.section-title {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 30px;
}

.product-container {
  display: flex;
  justify-content: space-between;
}

.product-card {
  border: 15px solid rgb(82, 53, 11);
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  background: rgb(82, 53, 11);
}

.product-card:nth-child(even) {
  border-color: rgb(210, 196, 182);
  background: rgb(210, 196, 182);
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.product-name {
  position: absolute;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-family: "lato", sans-serif;
  font-size: 25px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}

.product-card:hover .product-name {
  opacity: 1;
}

.product-card:hover .product-img {
  opacity: 0.5;
}

.arrow-img {
  transform: rotate(270deg);
  width: 100%;
  height: 100%;
}
.mid-section {
  width: 100%;
  height: 800px;
  padding: 40px 5vw;
}
.section-item-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
}
.section-item-container .section-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.section-info {
  width: 50%;
  height: 100%;
  background: #fff;
  display: block;
  margin-left: auto;
  padding: 50px;
  text-align: center;
}

.section-info .title {
  font-size: 60px;
  line-height: 100px;
}

.section-info .title span {
  color: rgb(210, 196, 182);
}

.section-info .info {
  font-family: "lato", sans-serif;
  font-size: 25px;
  line-height: 45px;
  margin-top: 30px;
  opacity: 0.5;
}
.image-mid-section {
  width: 100%;
  height: 600px;
  padding: 50px 5vw;
}

.image-collage {
  width: 100%;
  height: 100%;
  background: url("/img/img2.webp");
  background-size: cover;
}

.image-collection {
  position: relative;
  display: block;
  width: 50%;
  height: 100%;
  background: #fff;
  margin: auto;
}

.collage-img {
  margin-left: 6vw;
  position: absolute;
  object-fit: cover;
  transition: 0.5s;
}

.collage-img:nth-child(1) {
  width: 350px;
  height: 350px;
  top: 20px;
  left: 40px;
}
.collage-img:nth-child(2) {
  width: 250px;
  height: 250px;
  top: 200px;
  left: 200px;
}
.collage-img:nth-child(3) {
  width: 250px;
  height: 250px;
  top: 100px;
  left: 350px;
}

.collage-img:hover {
  transform: translateY(-10px);
}
.review-section {
  padding: 50px 5vw;
}

.review-section .section-title {
  color: black;
}

.review-section .section-title span{
  color: rgb(210, 196, 182);
}
.review-container {
  margin: 50px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.review-card {
  text-align: center;
  width: 250px;
  height: auto;
  font-family: 'lato',sans-serif;
}

.user-dp{
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

.user-dp img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-dp::before{
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.user-dp::after{
  content: attr(data-rating);
  position: absolute;
  bottom: 0;
  right: -20px;
  padding: 5px 20px;
  border-radius: 20px;
  background: rgb(210, 196, 182);
}

.review-account-name {
  font-size: 20px;
  margin:1rem;
  text-transform: capitalize;
}

.review {
  display: block;
  margin: 0 auto;
  opacity: 0.7;
}